*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

html {
  height: 100%;
}

body {
  background: radial-gradient(#ce0505, #a7671e);
  color: #FFF;
  text-align: center;
  padding: 2em;
  font-family: 'Spectral SC', serif;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 1000px) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.main-container {
  width: 70%;
  margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
  .main-container {
    width: 80%;
  }
}

.lrg-screen--flex1, .lrg-screen--flex3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

@media only screen and (min-width: 1400px) {
  .lrg-screen--flex1, .lrg-screen--flex3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1000px) {
  .lrg-screen--flex1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.lrg-screen--flex2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.holly-img__main-page {
  position: absolute;
  width: 80px;
  top: 5px;
}

.holly-img__main-page--left {
  left: 0;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.holly-img__main-page--right {
  right: 0;
}

.christmas-presents__img {
  width: 250px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.christmas-presents__img--right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.christmas-presents__img--left {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.noPointerEvents, .noPointerEvents1, .noPointerEvents2, .matchedCards {
  pointer-events: none;
}

.header {
  margin: 0 0 1.5em 0;
}

.header-area {
  font-size: .7rem;
}

@media only screen and (min-width: 700px) {
  .header-area {
    margin: 3em 0;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1000px) {
  .header-area {
    margin: .5em 0;
    font-size: 1rem;
  }
}

.header_txt {
  font-family: 'Henny Penny', cursive;
  font-weight: 400;
  font-size: 2.2rem;
}

@media only screen and (min-width: 700px) {
  .header_txt {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .header_txt {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1400px) {
  .header_txt {
    font-size: 3.5rem;
  }
}

.instruction-area_txt {
  font-weight: 200;
}

.score-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 280px;
  margin: 1em auto 0 auto;
}

.card-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 30px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  height: 85px;
  width: 63.75px;
  background-color: #e0a25a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .3rem;
  border-radius: 10px;
}

@media only screen and (min-width: 700px) {
  .card {
    height: 150px;
    width: 112.5px;
  }
}

@media only screen and (min-width: 1000px) {
  .card {
    height: 115px;
    width: 86.25px;
  }
}

@media only screen and (min-width: 1400px) {
  .card {
    height: 150px;
    width: 112.5px;
  }
}

.card-img {
  opacity: 0;
  pointer-events: none;
}

.end-modal {
  background-color: green;
  width: 85%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 7px;
  display: none;
  -webkit-box-shadow: 3px 3px 50px 5px #033003;
          box-shadow: 3px 3px 50px 5px #033003;
}

.end-modal__container {
  position: relative;
  padding: 4em 3em;
  font-size: .8rem;
}

.end-modal__info {
  margin: 1.5em 0;
}

.end-modal__btn {
  padding: .5em 2em;
  border-radius: 2px;
  border-color: black;
  border-width: 2px;
  font-family: 'Spectral SC', serif;
  font-weight: bold;
  background-color: #ce0505;
  color: #fff;
  margin: 1em;
}

.end-modal__holly {
  width: 80px;
  position: absolute;
}

.end-modal__holly-1 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  top: 0;
  left: 0;
}

.end-modal__holly-2 {
  top: 0;
  right: 0;
}

.end-modal__holly-3 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 0;
  left: 0;
}

.end-modal__holly-4 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: 0;
  right: 0;
}

footer {
  margin-top: auto;
}

.footer__text {
  font-size: .6rem;
}

.footer__text a {
  color: rgba(255, 255, 255, 0.829);
}
/*# sourceMappingURL=style.css.map */