
*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: radial-gradient($mainRed, $backgroundOrange);
    color: #FFF;
    text-align: center;
    padding: 2em;
    font-family: 'Spectral SC', serif;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    @include atLarge {
        flex-direction: row;
    }
}

img {
    width: 100%;
    height: auto;
}

.main-container {
    width: 70%;
    margin: 0 auto;

    @include atLarge {
        width: 80%;
    }
}

.lrg-screen--flex1, .lrg-screen--flex3 {
    align-self: center;
    flex-grow: 1;
    flex-direction: column;
    display: none;

    @include atVeryLarge {
        display: flex;
    }
}

.lrg-screen--flex1 {
    @include atLarge {
        display: flex;
    }
}

.lrg-screen--flex2 {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.holly-img__main-page {
    position: absolute;
    width: 80px;
    top: 5px;

    &--left{
        left: 0;
        transform: rotate(270deg);
    }

    &--right{
        right: 0;
    }
}



.christmas-presents__img {
    width: 250px;
    justify-self: center;
    
    &--right {
        align-self: flex-end;
    }

    &--left {
        align-self: flex-start;
    }
}

.noPointerEvents, .noPointerEvents1, .noPointerEvents2, .matchedCards {
    pointer-events: none;
}