.header {

    margin: 0 0 1.5em 0;

    &_txt {
        font-family: 'Henny Penny', cursive;
        font-weight: 400;
        font-size: 2.4rem;
    }
 
}

.instruction-area {

    &_txt {
        font-weight: 200;
        
    }
    
}