.header {

    
    &-area {
        font-size: .7rem;

        @include atMedium {
            margin: 3em 0;
            font-size: 1.2rem;
        }

        @include atLarge {
            margin: .5em 0;
            font-size: 1rem;
        }
    }

    margin: 0 0 1.5em 0;

    &_txt {
        font-family: 'Henny Penny', cursive;
        font-weight: 400;
        font-size: 2.2rem;

        @include atMedium {
            font-size: 3.5rem;
        }

        @include atLarge {
            font-size: 3rem;
        }

        @include atVeryLarge {
            font-size: 3.5rem;
        }


    }

    
 
}

// .header_txt::before{
//     content: url(christmas-cracker-68x34.png)
// }

.instruction-area {

    &_txt {
        font-weight: 200;
        
    }
    
}

.score-area {
    display: flex;
    justify-content: space-between;
    max-width: 280px;
    margin: 1em auto 0 auto;


}